@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Dosis:wght@600&family=Maitree:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

    font-family: 'Cantarell', sans-serif;
    font-weight: 300;
    background-color: grey;
}
