@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Dosis:wght@600&family=Maitree:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {

    font-family: 'Cantarell', sans-serif;
    font-weight: 300;
    color: black;
    background-color: #bbd8ba;
}

/* headings and logo */

h1, h2 {
    font-family: 'Dosis', sans-serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
    
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    margin-right: 40px;
    list-style-type: none;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #fff;
}

.active {
    border-bottom: 2px solid #fff;
}

/* Background image */

#background-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;

}
#background-image {
    height: 500px;
    width: 100%;
    background-image: url("../images/hero-image.webp") no-repeat center center;

    /* Anmiates zoom effext on loading page */
    animation-name: background-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* Creats the level of zoom for background-image */
@keyframes backgound-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text{
    font-size: 130%;
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;
    position: absolute;

}

/* Get Loaded */

#get-loaded {
    height: 400px;

}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blueviolet;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    background-color: greenyellow;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: palevioletred;
}

.left-about-heading {
  width: 65%;
  float: right;
  line-height: 15px;
  clear: both;  
  margin-bottom: 50px;
}

.right-about-heading {
    width: 65%;
    float: left;
    line-height: 15px;
    clear: both;  
    margin-bottom: 50px;
  }

  .center-about-heading {
    width: 65%;
    margin: 0 auto;
    line-height: 15px;
    margin-bottom: 50px;

  }

  .right-about-heading h2 {
    text-align: center;
}

.left-about-heading h2 {
    text-align: center;
}

.center-about-heading h2 {
    text-align: center;
}

#welcome {
    text-align: center;
    margin: 20px;
    font-size: 280%;
}

/* Class times */
#times {
    background-image: url("assets/images/bridge-forest.jpg") no-repet;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}

#time div {
    color: #fff;
    background-color: black;
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;

}

footer {
    height: 100px;
}
/*
#icons {
    text-align: center;
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    line-height: 50px;
    
}*/
/*
#icons > li {
    display: inline;
}*/
/*
#icons li {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;

    float: right;
    margin-right: 40px;
    list-style-type: none;
}
#icons li{
    float: right;
    margin-right: 40px;
    list-style-type: none;
}*/
#icons {
    font-size: 110%;
    letter-spacing: 4px;
}

#icons {
    line-height: 100px;
    background-color: white;
}

#icons > li {
    float: right;
    margin-right: 40px;
    list-style-type: none;
    display: inline;


}

/* Gallery */

#photos{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;

}

#photos > img {
    width: 100%;
}

/* Media queries */

/* FOr lagre to medium screens size from 1300px wide and down */
@media screen and (max-width: 1300px)  {
    #get-loaded {
        width:65%;
        height: 1300px;
        margin: 0 auto;
    }
    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0 ;
    }
    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;

    }
    hr {
        display: none;
    }
}

/* For medium screens sizes from 950px wide and down */

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
     
    #cover-text {
        left: 0;
    }

    #get-loaded {
        width: 90%;
        height: 1300px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }
}