@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Dosis:wght@600&family=Maitree:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

    font-family: 'Cantarell', sans-serif;
    font-weight: 300;
    color: ;
    background-color: #bbd8ba;
}

/* headings and logo */

h1, h2 {
    font-family: 'Dosis', sans-serif;
    color: ;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
    
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    margin-right: 40px;
    list-style-type: none;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #fff;
}

.active {
    border-bottom: 2px solid #fff;
}

/* Background image */

#background-image {
    height: 600px;
    width: 100%;
    background-image: url('../images/background-image.jpg') no-repeat center center;
}